* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
}

.main {
  width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.debug {
  border: 1px dashed red;
}